@import "../../mixins/rem";
@import "../../variables";

.Header {
  display: grid;
  grid-template-columns: 108px 16px;
  grid-template-rows: 70px;
  align-items: center;
  justify-content: space-between;

  @media #{$desktop} {
    max-width: 1280px;
    margin: 0 auto;
    width: 100%;
  }

  @media #{$tablet} {
    grid-template-rows: 90px;
    grid-template-columns: 108px 1fr;
    justify-content: start;
    grid-column-gap: 20px;
  }

  &-Logo {

  }

  &-Menu {

  }
}