@font-face {
  font-family: 'ArialMT';
  src: url('./fonts/ArialMT.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Arial-BoldMT';
  src: url('./fonts/Arial-BoldMT.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
