@import "variables";

html,
body,
.root {
  margin: 0;
  padding: 0;
  height: 100%;
}

html {
  font-size: $font__size--mobile;

  @media #{$mobile--big} {
    font-size: $font__size--mobile--big;
  }

  @media #{$tablet} {
    font-size: $font__size--tablet;
  }

  @media #{$tablet--big} {
    font-size: $font__size--tablet--big;
  }

  @media #{$desktop} {
    font-size: $font__size--desktop;
  }
}